In [3]:
import pandas as pd
df1 = pd.read_excel('/Users/jjcaine/Downloads/BBM_projections_combined.xls', index_col='Rank', dtype={'Inj': str})

In [4]:
df2 =

,Own,Round,Value,$,Name,Inj,Team,Conf,Pos,Depth,...,3V,aV,sV,bV,ft%V,drV,orV,toV,3%V,adjfg%V
Rank,,,,,,,,,,,,,,,,,,,,,
1,NaN,1,1.523783,88.921799,Stephen Curry,NaN,GSW,4,G,ST,...,3.518686,1.596950,1.344072,-0.963821,2.151821,0.044317,-0.521542,-1.907448,5.318220,3.981220
2,NaN,1,1.170808,72.773242,Karl-Anthony Towns,NaN,MIN,4,C,ST,...,0.066035,-0.113308,-0.622785,1.400650,2.031270,2.776326,1.926805,-0.399884,1.358529,2.691021
3,NaN,1,1.040571,66.814949,Anthony Davis,NaN,NOR,4,F/C,ST,...,-0.675697,-0.095161,1.690894,4.033673,1.335237,2.359366,1.319196,-0.717390,-0.786639,0.375774
4,NaN,1,0.942046,62.307443,Kevin Durant,NaN,GSW,4,F,ST,...,1.025376,1.124162,-0.433747,1.571103,2.242205,1.073931,-0.927104,-1.623035,1.776231,2.374106
5,NaN,1,0.925765,61.562587,Nikola Jokic,NaN,DEN,4,C,ST,...,0.204356,1.825411,0.486685,0.518959,1.097442,2.409215,1.615106,-1.601136,1.056444,1.380878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,NaN,31,-0.985980,0.000000,Alize Johnson,NaN,IND,3,F,BN,...,-1.225055,-0.999886,-1.759458,-1.134579,-2.227300,-1.125657,-0.518739,1.310879,-0.682847,-0.613372
491,NaN,31,-0.998739,0.000000,Devonte' Graham,NaN,CHA,4,G,BN,...,-1.030697,-0.575986,-1.076201,-1.214417,-2.335998,-1.670050,-1.155546,1.139737,-0.488313,-0.784981
492,NaN,31,-0.998756,0.000000,Aaron Holiday,NaN,IND,4,G,BN,...,-1.039854,-0.667999,-1.342333,-1.149146,-2.067238,-1.718720,-1.175190,0.919310,-0.236308,-0.662722
493,NaN,31,-1.021286,0.000000,Edmond Sumner,NaN,IND,4,G,BN,...,-1.397161,-1.020077,-1.748212,-0.980370,-1.810151,-1.811126,-1.250928,1.504466,-0.373198,-0.288882
494,NaN,31,-1.055582,0.000000,Jaylen Adams,NaN,ATL,3,G,BN,...,-0.817409,-0.447437,-1.018401,-1.244692,-3.665978,-1.620921,-1.109411,0.938982,-0.289202,-0.670230