In [22]:
import pandas as pd
df1 = pd.read_excel('/Users/jjcaine/Downloads/2018 Test Projections.xlsx', index_col='Rank', dtype=object)

In [24]:
df1.head(n=5)

,Own,Round,Value,$,Name,Inj,Team,Conf,Pos,Depth,...,to/g,3%,3a/g,adjfg%,fga/g,pV,3V,aV,sV,bV
Rank,,,,,,,,,,,,,,,,,,,,,
1,NaN,1,1.52378,88.9218,Stephen Curry,NaN,GSW,4,G,ST,...,3.18681,0.440549,10.3196,0.626979,17.1721,2.19914,3.51869,1.59695,1.34407,-0.963821
2,NaN,1,1.17081,72.7732,Karl-Anthony Towns,NaN,MIN,4,C,ST,...,1.96625,0.423803,3.46921,0.604547,15.2751,1.76422,0.0660353,-0.113308,-0.622785,1.40065
3,NaN,1,1.04057,66.8149,Anthony Davis,NaN,NOR,4,F/C,ST,...,2.22331,0.328016,2.46768,0.541174,20.2261,2.60703,-0.675697,-0.0951607,1.69089,4.03367
4,NaN,1,0.942046,62.3074,Kevin Durant,NaN,GSW,4,F,ST,...,2.95654,0.413656,5.62053,0.588243,17.5092,2.15928,1.02538,1.12416,-0.433747,1.5711
5,NaN,1,0.925765,61.5626,Nikola Jokic,NaN,DEN,4,C,ST,...,2.93881,0.407442,3.91098,0.572565,14.2732,1.19006,0.204356,1.82541,0.486685,0.518959